NET "ck" 		LOC = "B8";
NET "en" 		LOC = "N3";
NET "sw<1>" 	LOC = "L3";
NET "sw<0>" 	LOC = "P11";
NET "led<7>" 	LOC = "G1";
NET "led<6>" 	LOC = "P4";
NET "led<5>" 	LOC = "N4";
NET "led<4>" 	LOC = "N5";
NET "led<3>" 	LOC = "P6";
NET "led<2>" 	LOC = "P7";
NET "led<1>" 	LOC = "M11";
NET "led<0>" 	LOC = "M5";
NET "anod<3>"	LOC = "F12";
NET "anod<2>"	LOC = "J12";
NET "anod<1>"  LOC = "M13";
NET "anod<0>"	LOC = "K14";
NET "cath<7>"	LOC = "L14";
NET "cath<6>"	LOC = "H12";
NET "cath<5>"  LOC = "N14";
NET "cath<4>"	LOC = "N11";
NET "cath<3>"	LOC = "P12";
NET "cath<2>"	LOC = "L13";
NET "cath<1>"  LOC = "M12";
NET "cath<0>"	LOC = "N13";
NET "b4"  		LOC = "A7";
NET "b3"  		LOC = "M4";
NET "b2"  		LOC = "C11";
NET "b1"  		LOC = "G12";