#NET "ck"		 	LOC = "B8";
NET "sw<7>" 	LOC = "N3";
NET "sw<6>" 	LOC = "E2";
NET "sw<5>" 	LOC = "F3";
NET "sw<4>" 	LOC = "G3";
NET "sw<3>" 	LOC = "B4";
NET "sw<2>" 	LOC = "K3";
NET "sw<1>" 	LOC = "L3";
#NET "sw(0)" 	LOC = "P11";
#NET "z(7)" 		LOC = "G1";
#NET "z(6)" 		LOC = "P4";
#NET "z(5)" 		LOC = "N4";
#NET "z(4)" 		LOC = "N5";
#NET "z(3)" 		LOC = "P6";
#NET "z(2)" 		LOC = "P7";
#NET "z(1)" 		LOC = "M11";
NET "z" 				LOC = "M5";
#NET "b(3)" 		LOC = "A7";
#NET "b(2)" 		LOC = "M4";
#NET "b(1)" 		LOC = "G11";
#NET "b(0)" 		LOC = "C12";