//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 23 12:16:00 2014
//! **************************************************************************

SCHEMATIC START;
COMP "ck" LOCATE = SITE "B8" LEVEL 1;
COMP "z" LOCATE = SITE "M5" LEVEL 1;
NET "ck_BUFGP/IBUFG" BEL "ck_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

