NET "ck" 		   LOC = "B8";
NET "sw<3>"			LOC = "B4";
NET "sw<2>"			LOC = "K3";
NET "sw<1>" 		LOC = "L3";
NET "sw<0>" 		LOC = "P11";
NET "Disp_en<3>"	LOC = "F12";
NET "Disp_en<2>"	LOC = "J12";
NET "Disp_en<1>"  LOC = "M13";
NET "Disp_en<0>"	LOC = "K14";
NET "z<7>"			LOC = "L14";
NET "z<6>"			LOC = "H12";
NET "z<5>"  		LOC = "N14";
NET "z<4>"			LOC = "N11";
NET "z<3>"			LOC = "P12";
NET "z<2>"			LOC = "L13";
NET "z<1>"  		LOC = "M12";
NET "z<0>"			LOC = "N13";
NET "reset"  		LOC = "N3";
NET "b3"  			LOC = "A7";
NET "b2"  			LOC = "M4";
NET "b1"  			LOC = "C11";
NET "b0"  		   LOC = "G12";
