//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 25 09:37:26 2014
//! **************************************************************************

SCHEMATIC START;
COMP "ck" LOCATE = SITE "B8" LEVEL 1;
COMP "Z1<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "en" LOCATE = SITE "N3" LEVEL 1;
COMP "Z1<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "Z1<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "Z1<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "Z2<0>" LOCATE = SITE "N5" LEVEL 1;
COMP "Z2<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "Z2<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "Z2<3>" LOCATE = SITE "G1" LEVEL 1;
COMP "A" LOCATE = SITE "G12" LEVEL 1;
COMP "B" LOCATE = SITE "C11" LEVEL 1;
COMP "X<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "X<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "X<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "X<3>" LOCATE = SITE "B4" LEVEL 1;
NET "ck_BUFGP/IBUFG" BEL "ck_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

