NET "ck" LOC = "B8";
NET "X(3)" LOC = "B4";
NET "X(2)" LOC = "K3";
NET "X(1)" LOC = "L3";
NET "X(0)" LOC = "P11";
NET "Z1(3)" LOC = "P6";
NET "Z1(2)" LOC = "P7";
NET "Z1(1)" LOC = "M11";
NET "Z1(0)" LOC = "M5";
NET "Z2(3)" LOC = "G1";
NET "Z2(2)" LOC = "P4";
NET "Z2(1)" LOC = "N4";
NET "Z2(0)" LOC = "N5";
NET "A" LOC = "G12";
NET "B" LOC = "C11";
NET "en" LOC = "N3";