//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 23 09:46:31 2014
//! **************************************************************************

SCHEMATIC START;
COMP "en" LOCATE = SITE "N3" LEVEL 1;
COMP "x<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "x<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "z<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "z<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "z<2>" LOCATE = SITE "M11" LEVEL 1;
COMP "z<3>" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

