//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 23 14:26:22 2014
//! **************************************************************************

SCHEMATIC START;
COMP "ck" LOCATE = SITE "B8" LEVEL 1;
COMP "Z<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "en" LOCATE = SITE "G12" LEVEL 1;
COMP "Z<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "Z<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "Z<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "X<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "X<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "X<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "X<3>" LOCATE = SITE "B4" LEVEL 1;
NET "ck_BUFGP/IBUFG" BEL "ck_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

